-r requirements.txt
mock
coveralls
twine
check-manifest
pycodestyle
pyflakes
coverage
sphinx
sphinxcontrib-napoleon
flake8
#commenting below 2 lines until switchover to python3 is complete
#flake8-print
#flake8-debugger
sphinx_rtd_theme
