---
name: CI
on: [ pull_request, workflow_dispatch ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
      fail-fast: false
    name: Test on Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install wheel
        run: pip install wheel
      - name: Install dev requirements
        run: pip install -r dev-requirements.txt
      - name: Upgrade flake8
        run: pip install --upgrade flake8
      - name: Clean
        run: make clean
      - name: pep8
        run: make pep8
      - name: flake8
        run: make flake8
      - name: check
        run: make check
      - name: unittest
        run: make unittest
